<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" data-ng-app = "wqian">

<head>
	<title>wq</title>
	<!-- Fav Icon -->
	<link href="/modules/core/img/brand/favicon.ico" rel="shortcut icon" type="image/x-icon">
	<link rel = "stylesheet" type = "text/css" href ="deve_css/bootstrap.min.css">
	<link rel = "stylesheet" type = "text/css" href ="deve_css/cus.css">
	<link rel = "stylesheet" type = "text/css" href ="deve_css/hover-min.css">
	<link rel = "stylesheet" type = "text/css" href ="deve_css/toastr.css">	
	<link rel="icon" 
      type="image/png" 
      href="img/favicon.png">
	<!--Application CSS Files-->

	<!-- HTML5 Shim -->
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>

<body data-ng-controller = "Home">

	<div class = "top" data-ng-init = "cols = [1,2,3,4,5]">
		<ul class = "row list-inline box">
			<li class = "boxies col-xs-2 hvr-bounce-to-top" data-ng-repeat = "count in cols">
				<span></span>
			</li>
		</ul>
	</div>

	<div class = "nav container">
		<ul class = "list-inline row">
			<li class = "col-xs-offset-9 hvr-underline-from-center">
			<a href = "#showRequest" >Request</a>
			</li>
			<li class = "col-xs-offset-0 hvr-underline-from-center" data-ng-show = "ifLog == false"><a data-toggle = "modal" data-target = "#signInModal">
				Sign in
			</a></li>
			<li class = "col-xs-offset-0  hvr-underline-from-center" data-ng-show ="ifLog == true">
				<a data-toggle = "modal" data-target = "#create">
					create
				</a>
			</li>
			<li class = "col-xs-offset-0 hvr-underline-from-center" data-ng-show ="ifLog == true">
				<a href = "" data-ng-click = "signout()">
					Sign out
				</a>
			</li>
		</ul>
    </div>
	<!--Application JavaScript Files-->
	<div class = "content" data-ng-init = "find()">
		<div class = "event " data-ng-repeat = "event in events | orderBy :'-time' : reverse">
			<div class = "hvr-bounce-in headline">
				<h2>{{event.headline}}</h2>
			</div>
			<div class = "notes">
				{{event.notes}}
			</div>
			<div class = "content">
				{{event.content}}
			</div>
			{{event.path}}
 			<div class="row" data-ng-if = "event.path" data-ng-init = "getFile(event.path)">
				<img  data-ng-show = "path_type == 'img'"class = "col-xs-12"  src = "{{url[event.path].url}}" />
				<video data-ng-show = "path_type == 'video'" class="col-xs-12" id="video" controls>
					<source data-ng-src = "{{url[event.path].url}}" />
				</video>
			</div> 
			<div data-ng-if = "event.path" data-ng-init = "getFile(event.path)">
						
			</div>
			<div class = "time">
				<p class = "wrapper">{{event.time}}</p>
			</div>
			<div class = "hr"></div>

		</div>
	</div>

				<fieldset id = "showRequest" class = "request row">
	    			<h2> Request Form</h2>
	                <div class="form-group">
	                    <label class="control-label" for="req_name">Name</label>
	                    <div class="controls">
	                        <input type="text" data-ng-model="req_name" name="req_name" id="req_name" class="form-control" placeholder="Name" required />
	                    </div>
	                </div>
	                <div class="form-group">
	                    <label class="control-label" for="req_email">Email</label>
	                    <div class="controls">
	                        <input type="text" data-ng-model="req_email" name="req_email" id="req_email" class="form-control" placeholder="Email" required />
	                    </div>
	                </div>
					<label class="control-label" for="req_content">Reason for request</label>
					<div class="controls">
						<div>
							<textarea data-ng-model="req_content" name="req_content"  id="req_content" class="form-control" cols="30" rows="10" placeholder="Your content"></textarea>
						</div>
					</div>	
					<div class = "controls">
					<button type="button" class="btn btn-warning" data-ng-click = "request()">Request</button>
	            	</div>
	            </fieldset>	

			<div class = "hr"></div>	           
	<div class = "messageBoard" data-ng-init = "getMessage()" data-ng-hide = "noMessage">
		<h3 class = "hvr-bounce-in">Message Board</h3>
		<div class = "row" >
			<div class = "hvr-curl-top-right message col-xs-4" data-ng-repeat = "mess in message">
				<span class = "name"> {{mess.name}}</span> says: <br/>
				<span class = "message"> {{mess.message}}</span><br/>
				<span class = "time">posted at <br/>{{mess.time}}</p></span>
			</div>
		</div>
	</div>

	<div data-ng-show = "ifLog">
				<fieldset class = "request row">
					<label class="control-label" for="mess_content">Message</label>
					<div class="controls">
						<div>
							<textarea data-ng-model="mess_content" name="mess_content"  id="mess_content" class="form-control" cols="30" rows="10" placeholder="Your message"></textarea>
						</div>
					</div>	
					<div class = "controls">
					<button type="button" class="btn btn-primary" data-ng-click = "leaveMessage()">Leave Message</button>
	            	</div>
	            </fieldset>		
	</div>    
<!-- Sign in modal -->
	<div class="modal fade" id="signInModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">Sign in</h4>
	      </div>
	      <div class="modal-body">
	           <fieldset>
	                <div class="form-group">
	                    <label class="control-label" for="name">Username</label>
	                    <div class="controls">
	                        <input type="text" data-ng-model="name" name="name" id="name" class="form-control" placeholder="Name" required />
	                    </div>
	                </div>
	                <div class="form-group">
	                    <label class="control-label" for="password">Password</label>
	                    <div class="controls">
	                        <input type="text" data-ng-model="pass" name="pass" id="pass" class="form-control" placeholder="Password" required />
	                    </div>
	                </div>               
	            </fieldset>	      	
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Back</button>
	        <button type="button" class="btn btn-primary" data-ng-click = "signin()" data-ng-show = "ifLog == false">Sign in</button>
	      </div>
	    </div>
	  </div>
	</div>

<!-- Create up modal -->
	<div class="modal fade" id="create" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">Create</h4>
	      </div>
	      <div class="modal-body">
	           <fieldset>
	                <div class="form-group">
	                    <label class="control-label" for="headline">Headline</label>
	                    <div class="controls">
	                        <input type="text" data-ng-model="headline" name="headline" id="headline" class="form-control" placeholder="Name" required />
	                    </div>
	                </div>
	                <div class="form-group">
	                    <label class="control-label" for="password">Notes</label>
	                    <div class="controls">
	                        <input type="text" data-ng-model="notes" name="notes" id="notes" class="form-control" placeholder="Notes" required />
	                    </div>
	                </div>  
					<label class="control-label" for="content">content</label>
					<div class="controls">
						<div>
							<textarea data-ng-model="content" name="content"  id="content" class="form-control" cols="30" rows="10" placeholder="Your content"></textarea>
						</div>
					</div>	
	                <div class="form-group">
	                    <label class="control-label" for="file">Video</label>
	                    <input type="file"
	                           file/>
                </div>             
	            </fieldset>	      	
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Back</button>
	        <button type="button" class="btn btn-primary" data-ng-click = "create()">Create</button>
	      </div>
	    </div>
	  </div>
	</div>

	<script src="deve_js/angular.js"></script>
	<script src = "deve_js/jquery.min.js"></script>
	<script src = "deve_js/bootstrap.min.js"></script>
	
	<script src="deve_js/angular-route.js"></script>
	<script src = "deve_js/toastr.js"></script>
	<script src = "deve_js/aws-sdk.min.js"></script>
	<script src = "deve_js/controllers/credentials.js"></script>	
	<script src = "deve_js/application.js"></script>
	<script src = "deve_js/otherJs/modal.js"></script>
	<script src = "deve_js/controllers/home.controller.js"></script>
</body>
</html>